---
import NavBar from './navbar.jsx';
import Post from './post.astro';
const currentPath = Astro.url.pathname;
---

<!doctype html> 

<main>
    <NavBar currentPath={currentPath} client:load />
    <div id="container" class="pl-5 pr-5 scroll-smooth">
        <Post />    
    </div>
</main>
<style>
    main {
        width: 100%;
        max-width: 540px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border: 0px solid rgb(47, 51, 54);
        box-sizing: border-box;
        position: relative;
    }

    #container {
        flex: 1;
        overflow-y: auto;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 14px;
    }

    h1 {
        color: #ffffff;
    }
</style>